{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ product.name }}
{% endblock %}
{% block content %}
 <div class="product-detail">
 <img src="{% if product.image %}{{ product.image.url }}{% else %}
{% endif %}">
 <h1>{{ product.name }}</h1>
 <h2>
 <a href="{{ product.category.get_absolute_url }}">
 {{ product.category }}
 </a>
 </h2>
 <p class="price">${{ product.price }}</p>
  {{ product.description|linebreaks }}
 </div>
<button onclick="window.location.href = 'http://127.0.0.1:8000/detail/create/';">купить</button>
{% endblock %}